{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
<br>
    <!-- Importacion de DataTables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<div class="container">
  <h1 class="text-center">Listado de Asignaturas</h1>
    <br>
    <div class="row">
       <div class="col-md-3">
         <form class="" action="/guardarAsignatura/" method="post" enctype="multipart/form-data" id="frm_nueva_asignatura">
           {% csrf_token %}
           <b>Seleccione el curso:</b>
           <br>
           <select name="id_curso" id="id_curso" class="selectpicker" data-live-search="true" data-live-search-style="startsWith" title="---SELECCIONE TIPO DE CURSO---" required>
            {% for curso in cursos %}
              <option value="{{curso.idCursoDJFS }}">{{curso.nivelCursoDJFS }}</option>
            {% endfor %}
          </select>
            <br>
            <b>Nombre:</b><br>
           <input type="text" name="nombreAsignaturaDJFS" value="" id="nombreAsignaturaDJFS" placeholder="Ingrese el nombre de la asignatura" onkeypress="return isNaN(event.key)" class="form-control" required><br>
           <b>Creditos:</b><br>
           <input type="text" name="creditosAsignaturaDJFS" value="" id="creditosAsignaturaDJFS" placeholder="Ingrese el credito" class="form-control" required><br>
           <b>Fecha Inicio:</b>
           <input type="date" name="fechaInicioAsignaturaDJFS" value="" id="fechaInicioAsignaturaDJFS" placeholder="Ingrese la fecha de inicio" class="form-control" required><br>
           <b>Fecha Finalizacion:</b>
           <input type="date" name="fechaFinalizacionAsignatura" value="" id="fechaFinalizacionAsignatura" placeholder="Ingrese la fecha de finalizacion" class="form-control" required><br>
           <b>Profesor:</b>
           <input type="text" name="profesorAsignaturaDJFS"  value="" id="profesorAsignaturaDJFS" placeholder="Ingrese el profesor de la asignatura" class="form-control" onkeypress="return isNaN(event.key)" required><br>
           <b>Silabo:</b>
           <input type="file" name="silaboAsignatuaDJFS" accept=".pdf" value="" id="inputSilabo" class="form-control file" data-language="es" required><br>
           
           <script>
             $(document).ready(function () {
                 $("#inputSilabo").fileinput({
                     language: 'es',
                 });
             });
           </script>
           
            <b>Codigo:</b>
            <input type="text" name="codigoAsignaturaDJFS" value="" id="codigoAsignaturaDJFS" placeholder="Ingrese el codigo de la asignatura" class="form-control" required><br>
            <b>Semestre:</b>
            <input type="text" name="semestreAsignaturaDJFS" value="" id="semestreAsignaturaDJFS" placeholder="Ingrese el semestre de la asignatura" class="form-control" required><br>

            <br>
            <center>
              <button type="submit" name="button" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;</button>
              <button type="reset" name="button" class="btn btn-danger">&nbsp;&nbsp;&nbsp;Cancelar&nbsp;&nbsp;&nbsp;</button>

            </center>


         </form>

       </div>
       <div class="col-md-9 text-center">
         <img src="{% static 'img/descarga.png' %}" alt="" width="100px" >
         <table class="table" id="tbl_asignaturas">
           <thead>
             <tr>
               <th class="text-center">ID</th>
               <th class="text-center">NOMBRE</th>
               <th class="text-center">CREDITO</th>
               <th class="text-center">FECHA INICIO</th>
               <th class="text-center">FECHA FINALIZACON</th>
               <th class="text-center">PROFESOR</th>
               <th class="text-center">SILABO</th>
               <th class="text-center">CODIGO</th>
               <th class="text-center">SEMESTRE</th>
               <th class="text-center">NIVEL</th>
               <th class="text-center">ACCIONES</th>
             </tr>

           </thead>
           <tbody>
             {% for asignatura in asignaturas %}
                <tr>
                  <td>{{asignatura.idAsignaturaDJFS}}</td>
                  <td>{{asignatura.nombreAsignaturaDJFS}}</td>
                  <td>{{asignatura.creditosAsignaturaDJFS}}</td>
                  <td>{{asignatura.fechaInicioAsignaturaDJFS}}</td>
                  <td>{{asignatura.fechaFinalizacionAsignatura}}</td>
                  <td>{{asignatura.profesorAsignaturaDJFS}}</td>
                  <td>{{asignatura.silaboAsignatuaDJFS}}</td>
                  <td>{{asignatura.codigoAsignaturaDJFS}}</td>
                  <td>{{asignatura.semestreAsignaturaDJFS}}</td>
                  <td>{{asignatura.cursoDJFS.nivelCursoDJFS}}</td>

                  <td>
                    <a href="/editarAsignatura/{{asignatura.idAsignaturaDJFS}}" class="btn btn-warning">Editar</a>
                    <a href="javascript: void(0)" onclick="eliminarAsignatura('/eliminarAsignatura/{{asignatura.idAsignaturaDJFS}}');" class="btn btn-danger">Eliminar</a>
                  </td> 
                </tr>
                {% endfor %}
           </tbody>
         </table>
       </div>
    </div>
    <script type="text/javascript">
        function eliminarAsignatura(url){
          iziToast.question({
              timeout: 15000,
              close: true,
              overlay: true,
              displayMode: 'once',
              id: 'question',
              zindex: 999,
              title: 'CONFIRMACIÓN',
              message: '¿Está seguro de eliminar la asignatura seleccionado?',
              position: 'center',
              buttons: [
                  ['<button><b>SI</b></button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                      window.location.href=url;
                  }, true],
                  ['<button>NO</button>', function (instance, toast) {

                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                  }],
              ]
          });
        }
      </script>
      <script type="text/javascript">
        $("#frm_nueva_asignatura").validate({
          rules:{
            "id_curso":{
              required:true
            },
            "nombreAsignaturaDJFS":{
              required:true,
              
            },
            "creditosAsignaturaDJFS":{
              required:true,
              maxlength:250,
              min:1
            },
            "fechaInicioAsignaturaDJFS":{
              required:true
            },
            "fechaFinalizacionAsignatura":{
              required:true
            },
            "profesorAsignaturaDJFS":{
              required:true
            },
          "silaboAsignaturaDJFS":{
            required:true
          },
          "codigoAsignaturaDJFS":{
            required:true,
            maxlength:250,
            min:1
          },
        "semestreAsignaturaDJFS":{
          required:true
        }

          },
          messages:{
            "id_curso":{
              required:"Por favor seleccione el curso"
            },
            "nombreAsignaturaDJFS":{
              required:"Ingrese el nombre de la asignatura",
              maxlength:"Ingrese solo letras",
            },
            "creditosAsignaturaDJFS":{
              required:"Ingrese los creditos",
              maxlength:"ingrese solo numeros",
              
            },
            "fechaInicioAsignaturaDJFS":{
              required:"Ingrese la fecha de inicio"
            },
            "fechaFinalizacionASignatura":{
              required:"Ingrese la fecha de finalizacion"
            },
            "profesorAsignaturaDJFS":{
              required:"Ingrese el nombre del profesor",
              maxlength:"ingrese solo letras",
            },
          "silaboAsignaturaDJFS":{
            required:"Ingrese el silabo de la asignatura"
          },
          "codigoAsignaturaDJFS":{
            required:"Ingrese el codigo de la asigantura",
            maxlength:"ingrese solo numeros"
           
          },
        "semestreAsignaturaDJFS":{
          required:"Ingrese el semestre de la asignatura"
        }
          },
          success: function (label) {
              // Este código se ejecutará cuando un campo se valide correctamente
              label.addClass('valid').text('Campo válido').css('color', 'green');
            },
            errorPlacement: function (error, element) {
              // Este código se ejecutará para personalizar la ubicación de los mensajes de error
              error.insertAfter(element).css("color", "red");
            }
        
        });
      </script>
      <!-- Bloque de scripts para DataTables -->
<script type="text/javascript">
  $(document).ready(function() {
    $('#tbl_asignaturas').DataTable({
      dom: 'Bfrtip',
      language: {
        "decimal": "",
        "emptyTable": "No hay datos disponibles en la tabla",
        "info": "Explora la diversidad de carreras en nuestra institución",
        "infoEmpty": "Mostrando 0 a 0 de 0 entradas",
        "infoFiltered": "(filtradas de MAX entradas totales)",
        "infoPostFix": "",
        "thousands": ",",
        "lengthMenu": "Mostrar MENU entradas",
        "loadingRecords": "Cargando...",
        "processing": "Procesando...",
        "search": "Buscar:",
        "zeroRecords": "No se encontraron registros coincidentes",
        "paginate": {
          "first": "",
          "last": "",
          "next": "",
          "previous": "Los numero #"
        },
        "aria": {
          "sortAscending": ": activar para ordenar la columna ascendente",
          "sortDescending": ": activar para ordenar la columna descendente"
        }
      },
      buttons: [
        {
          extend: 'pdfHtml5',
          messageTop: 'PDF creado por PDFMake con botones para DataTables.'
        },
        'print',
        'csv'
      ]
    });
  });
</script>

<div class="col-md-12">
  <canvas id="barChartContainer" width="400" height="200"></canvas>
</div>

<script type="text/javascript">
  $(document).ready(function() {
      // Obtener los datos dinámicamente del formulario
      var labels = [];
      var asignaturas = [];

      {% for asignatura in asignaturas %}
          labels.push("{{ asignatura.codigoAsignaturaDJFS }}");
          asignaturas.push("{{ asignatura.semestreAsignaturaDJFS }}");
      {% endfor %}

      // Inicializar el gráfico con los datos dinámicos
      var ctx = document.getElementById('barChartContainer').getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: labels,
              datasets: [{
                  label: 'Codigo de semestre',
                  data: asignaturas,
                  backgroundColor: 'rgba(75, 192, 192, 0.2)',
                  borderColor: 'rgba(75, 192, 192, 1)',
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  y: {
                      beginAtZero: true
                  }
              }
          }
      });
  });



  // Muestra un mensaje de éxito para el guardado
  {% if messages %}
          {% for message in messages %}
          iziToast.success({
            title: 'Éxito',
            message: '{{ message }}',
            position: 'topRight',
          });
          {% endfor %}
          {% endif %}
</script>

  {% endblock %}

</div>
    
