
{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
<br>
    <!-- Importacion de DataTables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>

    
    

<div class="container">
  <h1 class="text-center">Listado de Carreras</h1>
  <br>
  <div class="row">
    <div class="col-md-3">
        <form class="" action="/guardarCarrera/" method="post" enctype="multipart/form-data" id="frm_nueva_carrera">
            {% csrf_token %}
            <b>Nombre:</b><br>
            <input type="text" name="nombreCarreraDJFS" value="" id="nombreCarreraDJFS" placeholder="Ingrese el nombre de la carrera" class="form-control" required minlength="4" onkeypress="return isNaN(event.key)" maxlength="50" required><br>
            <b>Director:</b><br>
            <input type="text" name="directorCarreraDJFS" value="" id="directorCarreraDJFS" placeholder="Ingrese el director" class="form-control" required minlength="4" maxlength="50"><br>
            <br>
            <b>Duración:</b><br>
            <input type="text" name="duracionCarreraDJFS" value="" id="duracionCarreraDJFS" placeholder="Ingrese la duración de la carrera" class="form-control" required pattern="[0-9]+"><br>
            <br>
            <b>Modalidad:</b><br>
            <input type="text" name="modalidadCarreraDJFS" value="" id="modalidadCarreraDJFS" placeholder="Ingrese la modalidad" class="form-control" required minlength="5" onkeypress="return isNaN(event.key)" ><br>

            <br>
            <b>Logo</b>
            <input type="file" name="logoCarreraDJFS" accept="image/*" id="logoCarreraDJFS" value="" class="form-control file" data-language="es" required><br>

            <script>
                $(document).ready(function () {
                    $("input[name='logoCarreraDJFS']").fileinput();
                });
            </script>

                        
          

          <center>
            <button type="submit" name="button" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;</button>
            <button type="reset" name="button" class="btn btn-danger">&nbsp;&nbsp;&nbsp;Cancelar&nbsp;&nbsp;&nbsp;</button>

          </center>


       </form>

     </div>
     <div class="col-md-9 text-center">
       <img src="{% static 'img/descarga.png' %}" alt="" width="100px" >
       <table class="table" id="tbl_carreras">
         <thead>
           <tr>
             <th>ID</th>
             <th>NOMBRE</th>
             <th>DIRECTOR</th>
             <th>DURACION</th>
             <th>MODALIDAD</th>
             <th>LOGO</th>
             <th>ACCIONES</th>
           </tr>

         </thead>
         <tbody>
           {% for carrera in carreras %}
              <tr>
                <td>{{carrera.idCarreraDJFS}}</td>
                <td>{{carrera.nombreCarreraDJFS}}</td>
                <td>{{carrera.directorCarreraDJFS}}</td>
                <td>{{carrera.duracionCarreraDJFS}}</td>
                <td>{{carrera.modalidadCarreraDJFS}}</td>






                <td>
                  {% if carrera.logoCarreraDJFS %}
                  <a href="{{carrera.logoCarreraDJFS.url}}" target="_blank"><img src="{{carrera.logoCarreraDJFS.url}}" alt="" height="50px">
                  {% else %}</a>
                  <b>N/A</b>
                  {% endif %}
                </td>
                <td>
                  <a href="/editarCarrera/{{carrera.idCarreraDJFS}}" class="btn btn-warning">Editar</a>
                  <a href="javascript:void(0);" onclick="eliminarCarrera('/eliminarCarrera/{{carrera.idCarreraDJFS}}');" class="btn btn-danger">Eliminar</a>
              </td>              
              </tr>
              {% endfor %}
         </tbody>
       </table>
     </div>
  </div>
  <script type="text/javascript">
      function eliminarCarrera(url){
        iziToast.question({
            timeout: 15000,
            close: true,
            overlay: true,
            displayMode: 'once',
            id: 'question',
            zindex: 999,
            title: 'CONFIRMACIÓN',
            message: '¿Está seguro de eliminar la carrera seleccionada?',
            position: 'center',
            buttons: [
                ['<button><b>SI</b></button>', function (instance, toast) {
                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                    window.location.href=url;
                }, true],
                ['<button>NO</button>', function (instance, toast) {

                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                }],
            ]
        });
      }
    </script>

  

  <script type="text/javascript">
    if (typeof jQuery != 'undefined') {
        $(document).ready(function() {
            $("#frm_nueva_carrera").validate({
                rules:{
                  "nombreCarreraDJFS":{
                    required:true,
                  
                  },
                  "directorCarreraDJFS":{
                    required:true
                  },
                  "duracionCarreraDJFS":{
                    required:true
                  },
                  "modalidadCarreraDJFS": {
                      required: true
                  },
                  "logoCarreraDJFS": {
                      required: true
                  }
                },
                messages:{
                  "nombreCarreraDJFS":{
                    required:"Ingrese el nombre de la carrera",
                    
                  },
                  "directorCarreraDJFS":{
                    required:"Ingrese el nombre del director",
                    
                  },
                  "duracionCarreraDJFS":{
                    required:"Ingrese la duración de la carrera",
                    
                  },
                  "modalidadCarreraDJFS":{
                    required:"Ingrese la modalidad de la carrera",
                    
                  },
                  "logoCarreraDJFS":{
                    required:"Ingrese el logo de la carrera"
                  }
                },
            success: function (label) {
              
              label.addClass('valid').text('Campo válido').css('color', 'green');
            },
            errorPlacement: function (error, element) {
              //  los mensajes de error
              error.insertAfter(element).css("color", "red");
            }
          });
            

            $('#tbl_carreras').DataTable({
                dom: 'Bfrtip',
                language: {
                  "decimal": "",
                  "emptyTable": "No hay datos disponibles en la tabla",
                  "info": "Explora la diversidad de carreras en nuestra institución",
                  "infoEmpty": "Mostrando 0 a 0 de 0 entradas",
                  "infoFiltered": "(filtradas de MAX entradas totales)",
                  "infoPostFix": "",
                  "thousands": ",",
                  "lengthMenu": "Mostrar MENU entradas",
                  "loadingRecords": "Cargando...",
                  "processing": "Procesando...",
                  "search": "Buscar:",
                  "zeroRecords": "No se encontraron registros coincidentes",
                  "paginate": {
                    "first": "",
                    "last": "",
                    "next": "",
                    "previous": "Los numero #"
                  },
                  "aria": {
                    "sortAscending": ": activar para ordenar la columna ascendente",
                    "sortDescending": ": activar para ordenar la columna descendente"
                  }
                },
                buttons: [
                  {
                    extend: 'pdfHtml5',
                    messageTop: 'PDF creado por PDFMake con botones para DataTables.'
                  },
                  'print',
                  'csv'
                ]
            });
        });
    } else {
        console.error('jQuery no está definido');
    }
</script>



</div>

<div class="col-md-12">
  <canvas id="barChartContainer" width="400" height="200"></canvas>
</div>



<script type="text/javascript">
  $(document).ready(function() {
      // Obtener los datos dinámicamente del formulario
      var labels = [];
      var duraciones = [];

      {% for carrera in carreras %}
          labels.push("{{ carrera.nombreCarreraDJFS }}");
          duraciones.push("{{ carrera.duracionCarreraDJFS }}");
      {% endfor %}

      // Inicializar el gráfico con los datos dinámicos
      var ctx = document.getElementById('barChartContainer').getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: labels,
              datasets: [{
                  label: 'Duración de Carreras',
                  data: duraciones,
                  backgroundColor: 'rgba(75, 192, 192, 0.2)',
                  borderColor: 'rgba(75, 192, 192, 1)',
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  y: {
                      beginAtZero: true
                  }
              }
          }
      });
  });



  // Muestra un mensaje de éxito para el guardado
  {% if messages %}
          {% for message in messages %}
          iziToast.success({
            title: 'Éxito',
            message: '{{ message }}',
            position: 'topRight',
          });
          {% endfor %}
          {% endif %}
</script>


{% endblock %}