{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <br> <br>
      <h1>Mi Título</h1>
    </div>
  </div>
{% endblock %}
