{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
<br>
<!-- Importacion de DataTables -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
<script type="text/javascript" src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<div class="container">
    <h1 class="text-center">Listado de Cursos</h1>
    <br>
    <div class="row">
      <div class="col-md-3">
          <!-- Formulario para agregar un nuevo curso -->
          <form class="" action="/guardarCurso/" method="post" enctype="multipart/form-data" id="frm_nuevo_curso">
              {% csrf_token %}
              <b>Seleccione la carrera:</b>
              <select name="id_carrera" id="id_carrera" class="selectpicker" data-live-search="true" data-live-search-style="startsWith" title="---SELECCIONE TIPO DE CARRERA---" required>
                  {% for carrera in carreras %}
                  <option value="{{ carrera.idCarreraDJFS }}">{{ carrera.nombreCarreraDJFS }}</option>
                  {% endfor %}
              </select>
          
              <br>
              <b>Nivel:</b>
              <input type="text" name="nivelCursoDJFS" value="" id="nivelCursoDJFS" placeholder="Ingrese el nivel" class="form-control" required><br>
              <b>Descripcion:</b>
              <textarea name="descripcionCursoDJFS" rows="8" cols="80" id="descripcionCursoDJFS" class="form-control" placeholder="Ingrese la descripcion" required></textarea><br>
              <b>Aula:</b>
              <input type="text" name="aulaCursoDJFS" value="" id="aulaCursoDJFS" placeholder="Ingrese el aula" class="form-control" required><br>
              <br>
              <b>Cupo:</b>
              <input type="text" name="cupoCursoDJFS" value="" id="cupoCursoDJFS" placeholder="Ingrese el cupo" class="form-control" required><br>
              <br>
              <b>Fecha Inicio:</b>
              <input type="date" name="fechaInicioDJFS" value="" id="fechaInicioDJFS" placeholder="Ingrese la fecha de inicio de curso" class="form-control" required><br>

              <br>
              <center>
                <button type="submit" name="button" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;</button>
                <button type="reset" name="button" class="btn btn-danger">&nbsp;&nbsp;&nbsp;Cancelar&nbsp;&nbsp;&nbsp;</button>

              </center>


          </form>

        </div>
        <div class="col-md-9 text-center">
          <img src="{% static 'img/descarga.png' %}" alt="" width="100px" >
          <table class="table" id="tbl_cursos">
            <thead>
              <tr>
                <th>ID</th>
                <th>NIVEL</th>
                <th>DESCRIPCION</th>
                <th>AULA</th>
                <th>CUPO</th>
                <th>FECHA INICIO</th>
                <th>CARRERA</th>
                <th>ACCIONES</th>
              </tr>

            </thead>
            <tbody>
              {% for curso in cursos %}
                  <tr>
                    <td>{{curso.idCursoDJFS}}</td>
                    <td>{{curso.nivelCursoDJFS}}</td>
                    <td>{{curso.descripcionCursoDJFS}}</td>
                    <td>{{curso.aulaCursoDJFS}}</td>
                    <td>{{curso.cupoCursoDJFS}}</td>
                    <td>{{curso.fechaInicioDJFS}}</td>
                    <td>{{curso.carreraDJFS.nombreCarreraDJFS}}</td>
                    

                    <td>
                      <a href="/editarCurso/{{curso.idCursoDJFS}}" class="btn btn-warning">Editar</a>
                      <a href="javascript: void(0)" onclick="eliminarCurso('/eliminarCurso/{{curso.idCursoDJFS}}');" class="btn btn-danger">Eliminar</a>
                    </td>
                  </tr>
                  {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <script type="text/javascript">
          function eliminarCurso(url){
            iziToast.question({
                timeout: 15000,
                close: true,
                overlay: true,
                displayMode: 'once',
                id: 'question',
                zindex: 999,
                title: 'CONFIRMACIÓN',
                message: '¿Está seguro de eliminar el curso seleccionado?',
                position: 'center',
                buttons: [
                    ['<button><b>SI</b></button>', function (instance, toast) {
                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                        window.location.href=url;
                    }, true],
                    ['<button>NO</button>', function (instance, toast) {

                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                    }],
                ]
            });
          }
        </script>
        <script type="text/javascript">
          $("#frm_nuevo_curso").validate({
            rules:{
              "id_carreraDJFS":{
                required:true
              },
              "nivelCursoDJFS":{
                required:true,
                maxlength:250,
                min:1

              },
              "descripcionCursoDJFS":{
                required:true
              },
              "aulaCursoDJFS":{
                maxlength:250,
                min:1
              },
              "cupoCursoDJFS":{
                maxlength:250,
                min: 1
              },
              "fechaInicioDJFS":{
                required:true
              },

            },
            messages:{
              "id_carreraDJFS":{
                required:"Por favor seleccione el tipo de carrera"
              },
              "nivelCursoDJFS":{
                required:"Ingrese el nivel del curso de la carrera",
                maxlength:"debe tener solo numeros",
                
              },
              "descripcionCursoDJFS":{
                required:"Ingrese la descripcion"
              },
              "aulaCursoDJFS":{
                required:"Ingrese elcurso"
              },
              "cupoCursoDJFS":{
                required:"Ingrese el cupo"
              },
              "fechaInicioDJFS":{
                required:"Ingrese la fecha de inicio"
              },
                },
            success: function (label) {
              // Este código se ejecutará cuando un campo se valide correctamente
              label.addClass('valid').text('Campo válido').css('color', 'green');
            },
            errorPlacement: function (error, element) {
              // Este código se ejecutará para personalizar la ubicación de los mensajes de error
              error.insertAfter(element).css("color", "red");
            }
          });
        </script>
        <!-- Bloque de scripts para DataTables -->
  <script type="text/javascript">
    $(document).ready(function() {
      $('#tbl_cursos').DataTable({
        dom: 'Bfrtip',
        language: {
          "decimal": "",
          "emptyTable": "No hay datos disponibles en la tabla",
          "info": "Explora la diversidad de carreras en nuestra institución",
          "infoEmpty": "Mostrando 0 a 0 de 0 entradas",
          "infoFiltered": "(filtradas de MAX entradas totales)",
          "infoPostFix": "",
          "thousands": ",",
          "lengthMenu": "Mostrar MENU entradas",
          "loadingRecords": "Cargando...",
          "processing": "Procesando...",
          "search": "Buscar:",
          "zeroRecords": "No se encontraron registros coincidentes",
          "paginate": {
            "first": "",
            "last": "",
            "next": "",
            "previous": "Los numero #"
          },
          "aria": {
            "sortAscending": ": activar para ordenar la columna ascendente",
            "sortDescending": ": activar para ordenar la columna descendente"
          }
        },
        buttons: [
          {
            extend: 'pdfHtml5',
            messageTop: 'PDF creado por PDFMake con botones para DataTables.'
          },
          'print',
          'csv'
        ]
      });
    });
  </script>

  <div class="col-md-12">
    <canvas id="barChartContainer" width="400" height="200"></canvas>
  </div>

  <script type="text/javascript">
    $(document).ready(function() {
        // Obtener los datos dinámicamente del formulario
        var labels = [];
        var cupos = [];

        {% for curso in cursos %}
            labels.push("{{ curso.nivelCursoDJFS }}");
            cupos.push("{{ curso.cupoCursoDJFS }}");
        {% endfor %}

        // Inicializar el gráfico con los datos dinámicos
        var ctx = document.getElementById('barChartContainer').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Cupos de Cursos',
                    data: cupos,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    });
  </script>
<script>
  $(document).ready(function () {
    $('.selectpicker').selectpicker();
  });



  // Muestra un mensaje de éxito para el guardado
  {% if messages %}
          {% for message in messages %}
          iziToast.success({
            title: 'Éxito',
            message: '{{ message }}',
            position: 'topRight',
          });
          {% endfor %}
          {% endif %}
</script>





    {% endblock %}

  </div>
      