{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}
  {% block contenido %}
  <br>
<div class="row">
  <h1 class="text-center">ASIGNATURAS</h1>
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <form class="" action="/procesarActualizacionAsignatura/" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="hidden" name="idAsignaturaDJFS" id="idAsignaturaDJFS" value="{{asignatura.idAsignaturaDJFS}}">
      <b>Seleccione el curso</b>
      <select class="form-control" name="id_curso" id="id_curso" required>
        <option value="">--Seleccione el curso--</option>
        {% for curso in cursos %}
        <option value="{{curso.idCursoDJFS}}">{{curso.nivelCursoDJFS}}</option>
        {% endfor %}
      </select>
      
      <script type="text/javascript">
        document.getElementById("id_curso").value="{{asignatura.cursoDJFS.idCursoDJFS}}";
      </script>
      <br>
      
      <b>Nombre asignatura:</b>
      <input type="text" name="nombreAsignaturaDJFS" id="nombreAsignaturaDJFS" value="{{asignatura.nombreAsignaturaDJFS}}" placeholder="Ingrese el nombre" class="form-control" required>
      <br>
      <b>Creditos:</b>
      <input type="text" name="creditosAsignaturaDJFS" id="creditosAsignaturaDJFS" value="{{asignatura.creditosAsignaturaDJFS}}" placeholder="Ingrese el credito de la asignatura" class="form-control" required>
      <br>
      <b>Fecha inicio:</b>
      <input type="date" name="fechaInicioAsignaturaDJFS" id="fechaInicioAsignaturaDJFS" value="{{asignatura.fechaInicioAsignaturaDJFS| date:'Y-m-d'}}" placeholder="Ingrese la fecha de inicio" class="form-control" required>
      <br>
      <b>Fecha finalizacion:</b>
      <input type="date" name="fechaFinalizacionAsignatura" id="fechaFinalizacionAsignatura" value="{{asignatura.fechaFinalizacionAsignatura| date:'Y-m-d'}}" placeholder="Ingrese la fecha de finalizacion" class="form-control" required>
      <br>
      <b>Profesor:</b>
      <input type="text" name="profesorAsignaturaDJFS" id="profesorAsignaturaDJFS" value="{{asignatura.profesorAsignaturaDJFS}}" placeholder="Ingrese el profesor de la asignatura" class="form-control" required>
      <br>
      <b>Silabo:</b>
      <input type="file" name="silaboAsignatuaDJFS" accept=".pdf" value="" id="inputSilabo" class="form-control file" data-language="es" ><br>
      
      <script>
        $(document).ready(function () {
            $("#inputSilabo").fileinput({
                language: 'es',
            });
        });
      </script>

      <b>Codigo:</b>
      <input type="text" name="codigoAsignaturaDJFS" id="codigoAsignaturaDJFS" value="{{asignatura.codigoAsignaturaDJFS}}" placeholder="Ingrese el codigo" class="form-control" required>
      <br>
      <b>Semestre:</b>
      <input type="text" name="semestreAsignaturaDJFS" id="semestreAsignaturaDJFS" value="{{asignatura.semestreAsignaturaDJFS}}" placeholder="Ingrese el semestre de la asignatura" class="form-control" required>
      <br>
      <center>
      <button type="submit" name="button" class="btn btn-info">Actualizar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a name="button" class="btn btn-danger" href="/asignaturas/">Cancelar</a>
      </center>
    </form>
  </div>
</div>

  {% endblock %}
