{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}
  {% block contenido %}
  <br>
<div class="row">
  <h1 class="text-center">CURSOS</h1>
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <form class="" action="/procesarActualizacionCurso/" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="hidden" name="idCursoDJFS" id="idCursoDJFS" value="{{curso.idCursoDJFS}}">
      <br>
      <br>
          <!-- Formulario para agregar un nuevo curso -->
            {% csrf_token %}
            <select name="id_carrera" id="id_carrera" class="selectpicker" data-live-search="true" data-live-search-style="startsWith" title="---SELECCIONE TIPO DE CARRERA---" required>
              {% for carrera in carreras %}
                  {% if carrera.idCarreraDJFS == curso.carreraDJFS.idCarreraDJFS %}
                      <option value="{{ carrera.idCarreraDJFS }}" selected>{{ carrera.nombreCarreraDJFS }}</option>
                  {% else %}
                      <option value="{{ carrera.idCarreraDJFS }}">{{ carrera.nombreCarreraDJFS }}</option>
                  {% endif %}
              {% endfor %}
          </select>
          
            <br>
      <script type="text/javascript">
        document.getElementById("id_carrera").value="{{curso.carreraDJFS.idCarreraDJFS}}";
    </script>
      
      <b>Nivel:</b>
      <input type="number" name="nivelCursoDJFS" id="nivelCursoDJFS" value="{{curso.nivelCursoDJFS}}" placeholder="Ingrese el nivel" class="form-control" required>
      <br>
      <b>Descripcion:</b>
      <textarea name="descripcionCursoDJFS" id="descripcionCursoDJFS" rows="3" class="form-control" placeholder="Ingrese la descripcion">{{curso.descripcionCursoDJFS}}</textarea>
      <br>
      <b>Aula:</b>
      <input type="text" name="aulaCursoDJFS" id="aulaCursoDJFS" value="{{curso.aulaCursoDJFS}}" placeholder="Ingrese el aula" class="form-control" required>
      <br>
      <b>Cupo:</b>
      <input type="text" name="cupoCursoDJFS" id="cupoCursoDJFS" value="{{curso.cupoCursoDJFS}}" placeholder="Ingrese el cupo" class="form-control" required>

      <br>
      <b>Fecha Inicial:</b>
      <input type="date" name="fechaInicioDJFS" id="fechaInicioDJFS" value="{{curso.fechaInicioDJFS| date:'Y-m-d'}}" placeholder="Ingrese la fecha de inicio" class="form-control" required>
      <br>
      <center>
      <button type="submit" name="button" class="btn btn-warning"> Actualizar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a name="button" class="btn btn-danger" href="/curso/">Cancelar</a>
      </center>
    </form>
  </div>
</div>

  {% endblock %}
