{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}
  {% block contenido %} 
  <br>
<div class="row">
  <h1 class="text-center">EDITAR CARRERAS</h1>
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <form class="" action="/procesarActualizacionCarrera/" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="hidden" name="idCarreraDJFS" value="{{carrera.idCarreraDJFS}}">

      <b>Nombre:</b>
      <input type="text" name="nombreCarreraDJFS" id="nombreCarreraDJFS" value="{{carrera.nombreCarreraDJFS}}" placeholder="Ingrese el nombre" onkeypress="return isNaN(event.key)" class="form-control" required>
      <br>
      <b>Director:</b>
      <input type="text" name="directorCarreraDJFS" id="directorCarreraDJFS" value="{{carrera.directorCarreraDJFS}}" placeholder="Ingrese el direcctor" onkeypress="return isNaN(event.key)" class="form-control" required>
      <br>
      <b>Duracion:</b>
      <input type="text" name="duracionCarreraDJFS" id="duracionCarreraDJFS" value="{{carrera.duracionCarreraDJFS}}" placeholder="Ingrese la duracion" class="form-control" required>
      <br>
      <b>Modalidad:</b>
      <input type="text" name="modalidadCarreraDJFS" id="modalidadCarreraDJFS" value="{{carrera.modalidadCarreraDJFS}}" placeholder="Ingrese la modalidad" onkeypress="return isNaN(event.key)"  class="form-control" required>
      <b>Logo</b>
      <input type="file" name="logoCarreraDJFS" accept="image/*" id="logoCarreraDJFS" value="" class="form-control file" data-language="es"><br>

      <script>
          $(document).ready(function () {
              $("input[name='logoCarreraDJFS']").fileinput();
          });
      </script>
                 
      <center>
      <button type="submit" name="button" class="btn btn-warning">Actualizar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a name="button" class="btn btn-danger" href="/carreras/">Cancelar</a>
      </center>
    </form>
  </div>
</div>

  {% endblock %}
