{% extends "./plantilla.html" %}
{% load static %}

{% block contenido %}
<br>
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <br> <br>
      <h1 class="text-center">E-MAIL</h1>
      <form method="post" action="{% url 'enviar_correo' %}" id="frm_enviar_correo">
        {% csrf_token %}
        <div class="form-group">
          <label for="destinatario">Destinatario:</label>
          <input type="email" class="form-control" id="destinatario" name="destinatario" required>
        </div>
        <div class="form-group">
          <label for="asunto">Asunto:</label>
          <input type="text" class="form-control" id="asunto" name="asunto" required>
        </div>
        <div class="form-group">
          <label for="mensaje">Mensaje:</label>
          <textarea class="form-control" id="mensaje" name="cuerpo" rows="4" required></textarea>
        </div>
        <br>
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Enviar Correo</button>
        </div>
      
      </form>
    </div>
  </div>

  <script type="text/javascript">
    $("#frm_enviar_correo").validate({
      rules: {
        "destinatario": {
          required: true,
          email: true
        },
        "asunto": {
          required: true
        },
        "cuerpo": {
          required: true
        }
      },
      messages: {
        "destinatario": {
          required: "Por favor, ingrese un correo electrónico",
          email: "Por favor, ingrese un correo electrónico válido"
        },
        "asunto": {
          required: "Por favor, ingrese el asunto"
        },
        "cuerpo": {
          required: "Por favor, ingrese el cuerpo del mensaje"
        }
      },
      errorPlacement: function (error, element) {
        error.insertAfter(element).css("color", "red");
      }
    });

    // Muestra un mensaje de éxito para el envío del correo
    {% if messages %}
    {% for message in messages %}
    iziToast.success({
      title: 'Éxito',
      message: '{{ message }}',
      position: 'topRight',
    });
    {% endfor %}
    {% endif %}
  </script>
{% endblock %}
