table{
    border: 3px solid black !important;
  }
  
  /* estilo para personalizar jquery validate*/
  label.error{
    color:red;
    font-weight: bold;
  }
  input.error, select.error,
  textarea.error {
    border: 1px solid red;
  }
  body {
      margin: 0;
      padding: 0;
      font-family: 'Arial', sans-serif;
      background-image: url('../img/uni2.jpeg'); /* Reemplaza 'ruta-de-tu-imagen.jpg' con la ruta correcta de tu imagen de fondo */
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      color: #ffffff; /* Color de texto en el fondo, ajusta según sea necesario */
  }
  b{
    color:black;
  }
  
  h1, h2, h3, h4{
    color:red;
  }
  